{% extends 'base.html' %}
{% load static %}

{% block title %}
Home - Sumidi Classics
{% endblock %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

{% block content %}
<section class="relative h-screen overflow-hidden">
    <div class="absolute inset-0 bg-blue-500 bg-opacity-50 z-10"></div>

    <div class="relative flex justify-center items-center h-full text-white z-20">
        <div id="slider" class="flex h-full w-full transition-transform duration-500 ease-in-out">
            
            <a href="{% url 'category_products' 'Home Essentials' %}" class="w-full h-[730px] flex-shrink-0 flex items-center justify-center bg-cover bg-center"
               style="background-image: url('{% static "images/test.png" %}');">
                <div class="text-center px-4">
                    {% comment %} <h1 class="text-4xl lg:text-6xl font-extrabold">Joyful Finds for Little Minds – Toys, Books & More!</h1> {% endcomment %}
                </div>
            </a>

            <div class="w-full h-[730px] flex-shrink-0 flex items-center justify-center bg-cover bg-center"
                 style="background-image: url('{% static "images/test1.png" %}');">
                <div class="text-center px-4">
                    {% comment %} <h1 class="text-4xl lg:text-6xl font-extrabold">Kitchen Essentials for Every Home</h1> {% endcomment %}
                    {% comment %} <p class="mt-4 text-lg">High-quality kitchen products to make your cooking easy and fun!</p> {% endcomment %}
                </div>
            </div>
        </div>

        <button id="prev" class="absolute left-0 top-1/3 transform -translate-y-1/2 bg-white text-black p-2 hover:bg-gray-200 z-30">
            &#8592;
        </button>

        <button id="next" class="absolute right-0 top-1/3 transform -translate-y-1/2 bg-white text-black p-2 hover:bg-gray-200 z-30">
            &#8594;
        </button>
    </div>

    <div class="absolute inset-x-0 bottom-0 h-[159px] bg-gradient-to-r from-[#318190] to-[#FFFFFF] shadow-xl z-20"></div>
</section>


<section class="container mx-auto py-8">
    <h2 class="text-3xl font-bold mb-4 text-center">Featured Products</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {% for product in featured_products %}
        <div class="border p-4 rounded-lg shadow-lg">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-56 object-cover mb-4 rounded-lg">
            <h3 class="text-xl font-semibold text-center">{{ product.name }}</h3>
            <p class="text-lg text-center text-gray-600">${{ product.price }}</p>
            <p class="text-sm text-gray-500 mt-2">{{ product.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="flex flex-col mt-20">
    <p class="font-semibold text-2xl md:text-3xl text-center">Our Growing Impact</p>
    <div class="mt-10 grid grid-cols-2 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-5 place-items-center w-full mx-auto max-w-7xl px-5">
  
        <div class="flex flex-col justify-center items-center bg-gradient-to-br from-orange-100 to-pink-100 shadow-md hover:shadow-lg transition-shadow duration-300 px-4 h-[126px] w-full md:w-[281px] md:h-[192px] rounded-xl">
            <div class="flex flex-row justify-center items-center">
          <svg class="w-[35px] h-[35px] md:w-[50px] md:h-[50px]" fill="none" stroke="#FF6D42" stroke-width="3" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20 12v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-6m16 0V8a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v4m16 0H4"></path>
          </svg>
          <p class="font-bold text-3xl sm:text-4xl lg:text-5xl text-primary ml-2">50K+</p>
        </div>
        <p class="font-medium text-base sm:text-lg mt-3 md:mt-6 text-center">Products Sold</p>
      </div>
  
      <div class="flex flex-col justify-center items-center bg-gradient-to-br from-orange-100 to-pink-100 shadow-md hover:shadow-lg transition-shadow duration-300 px-4 h-[126px] w-full md:w-[281px] md:h-[192px] rounded-xl">
        <div class="flex flex-row justify-center items-center">
          <svg class="w-[35px] h-[35px] md:w-[50px] md:h-[50px]" fill="none" stroke="#FF6D42" stroke-width="3" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a4 4 0 0 0-5-3.87M9 20H4v-2a4 4 0 0 1 5-3.87M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm6 8v-2a4 4 0 0 0-3-3.87M6 16v-2a4 4 0 0 1 3-3.87"></path>
          </svg>
          <p class="font-bold text-3xl sm:text-4xl lg:text-5xl text-primary ml-2">10K+</p>
        </div>
        <p class="font-medium text-base sm:text-lg mt-3 md:mt-6 text-center">Happy Customers</p>
      </div>
  
      <div class="flex flex-col justify-center items-center bg-gradient-to-br from-orange-100 to-pink-100 shadow-md hover:shadow-lg transition-shadow duration-300 px-4 h-[126px] w-full md:w-[281px] md:h-[192px] rounded-xl">
        <div class="flex flex-row justify-center items-center">
          <svg class="w-[35px] h-[35px] md:w-[50px] md:h-[50px]" fill="none" stroke="#FF6D42" stroke-width="3" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h4v4H4V6zm6 0h4v4h-4V6zm6 0h4v4h-4V6zM4 12h4v4H4v-4zm6 0h4v4h-4v-4zm6 0h4v4h-4v-4z"></path>
          </svg>
          <p class="font-bold text-3xl sm:text-4xl lg:text-5xl text-primary ml-2">30+</p>
        </div>
        <p class="font-medium text-base sm:text-lg mt-3 md:mt-6 text-center">Product Categories</p>
      </div>
  
      <div class="flex flex-col justify-center items-center bg-gradient-to-br from-orange-100 to-pink-100 shadow-md hover:shadow-lg transition-shadow duration-300 px-4 h-[126px] w-full md:w-[281px] md:h-[192px] rounded-xl">
        <div class="flex flex-row justify-center items-center">
          <svg class="w-[35px] h-[35px] md:w-[50px] md:h-[50px]" fill="none" stroke="#FF6D42" stroke-width="3" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M3 11l9.293 9.293a1 1 0 0 0 1.414 0l8.586-8.586a2 2 0 0 0 0-2.828L14.828 3a2 2 0 0 0-2.828 0L3 11z"></path>
          </svg>
          <p class="font-bold text-3xl sm:text-4xl lg:text-5xl text-primary ml-2">Best</p>
        </div>
        <p class="font-medium text-base sm:text-lg mt-3 md:mt-6 text-center">Affordable Prices</p>
      </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    let currentIndex = 0;
    const slides = document.querySelectorAll('#slider > *');
    const totalSlides = slides.length;
    
    function moveToNextSlide() {
        currentIndex = (currentIndex + 1) % totalSlides;
        updateSliderPosition();
    }
    
    function moveToPreviousSlide() {
        currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
        updateSliderPosition();
    }
    
    function updateSliderPosition() {
        const newTransformValue = -currentIndex * 100 + '%';
        document.getElementById('slider').style.transform = `translateX(${newTransformValue})`;
    }
    
    document.getElementById('next').addEventListener('click', moveToNextSlide);
    document.getElementById('prev').addEventListener('click', moveToPreviousSlide);
</script>

{% endblock %}
